body{
    font-family: Verdana, arial, sans-serif;
}
p{
    margin:0
}
legend{
    background:purple;
    border-radius:10px;
    color:white;
    padding:12px;
}
fieldset{
    background:lavender;
    border:10px solid darkblue;
    border: radius 20px;
    margin-bottom:10px;
    width:720px;
}
div{
    margin:10px;
}
label{
    display:inline-block;
    text-align:right;
    vertical-align: top;
    width:200px;
}

input[type="radio"]+label, input[type="checkbox"]+label{
    width:auto;
}
.range-class{
    background:darkcyan;
    color:white;
    padding:6px;
    text-align:center;
}
input[type="submit"]{
    background: darkcyan;
    border-radius:10px;
    color:white;
    font-size:20px;
    padding:12px;
}
div:hover{
    color:blue;
} 


